@{
    ViewData["Title"] = "Private Awesome Policies";
}
<h1>@ViewData["Title"]</h1>

<p>Created by the most awesome dude.</p>
<p>By using the awesome site of the awesome dude,</p>
<p>you are obliged to accept his awesome rules and his awesomeness.</p>
