@model WebApplication.Models.Picture

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<div class = "text-center">
    <dl class="row">
            <h1>@Html.DisplayFor(model => model.Title)</h1>
    </dl>

    <dl class="row">
        </hr>
        <img alt="Picture" src="@ViewBag.Base64String" style="width:95%; height:auto;"/>
    </dl>
</div>
<div>
    </hr>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
